<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<main>
  <div class="new-item">
    <label for="add">Add new item (Enter)</label>
    <input class="add" name="add" type="text" (keyup.enter)="addProject(project)" #project>
  </div>
<ul>
  <li *ngFor="let project of projects$ | async">
    {{ project.name }} 
    <button (click)="update(project.key, project)">Edit</button>
    <button (click)="delete(project.key)">Delete</button>
  </li>
</ul>
<ul *ngIf="project$ |async as project">
  <li>{{ project.name }}</li>
  <li>{{ project.description }}</li>
  <li>{{ project.value }}</li>
</ul>
</main>

